* {
  // general
  bg: #1d1d1d;               // base (solid for bg)
  bgt: #28282895;            // semi-transparent for bgt
  t: transparent;
  fg: #fcfcfa;               // text (solid)

  selected-bg: #fcfcfa;      // text (solid)
  selected-fg: #1d1d1d;      // base (solid)

  // for windows
  active: #a8be81;           // green
  urgent: #ff657a;           // red
}
