/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1d1d1dFF;  /* base */
    background-alt: #30303bFF;  /* surface0 */
    foreground:     #fcfcfaFF;  /* text */
    selected:       #5d81abFF;  /* blue */
    active:         #a8be81FF;  /* green */
    urgent:         #ff657aFF;  /* red */
}

