/*
*
* Catppuccin Mocha palette
* Maintainer: rubyowo
*
*/

@define-color base   #1d1d1d;
@define-color mantle #1b1b1b;
@define-color crust  #171719;

@define-color text     #fcfcfa;
@define-color subtext0 #fcfcfa;
@define-color subtext1 #fcfcfa;

@define-color surface0 #30303b;
@define-color surface1 #3a3d4b;
@define-color surface2 #535763;

@define-color overlay0 #535763;
@define-color overlay1 #66729c;
@define-color overlay2 #f29ba7;

@define-color blue      #5d81ab;
@define-color lavender  #66729c;
@define-color sapphire  #86aacc;
@define-color sky       #a6c9e5;
@define-color teal      #9cd1bb;
@define-color green     #a8be81;
@define-color yellow    #eccc81;
@define-color peach     #ff9b5e;
@define-color maroon    #f29ba7;
@define-color red       #ff657a;
@define-color mauve     #b18eab;
@define-color pink      #b18eab;
@define-color flamingo  #ff9b5e;
@define-color rosewater #ff9b5e;
